body { 
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', Helvetica, sans-serif;
}


header, footer {
    border: 1px solid #bbbbbb;
    padding: .5rem;
    background-color: #E76F51;
    display: grid;

    align-items: center;
    justify-content: center;
}

header {
    grid-template-columns: 122px 1fr;
}

main {
    margin: 1rem auto;
    background-color: #264653;
    padding: 1rem;
}

footer {
    grid-template-columns: 1fr 300px;
}

footer li {
    justify-content: left;
    display: flex;
    list-style-type: none;
}

h1{
    color: #E9C46A;
    font-size: 2.2rem;
    font-family: 'Times New Roman', Times, serif;
}

img{
    box-shadow: 0 0 100px #000;
}

.logo img {
    box-shadow: 0 0 0 #defade;
}

.mainnav { 
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    text-align: center;
}

.mainnav li {
    flex: 5 5 auto;
}

.mainnav a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    background-color: #E9C46A;
    border: 1px solid #E76F51;
    font-size: 1.2rem;
}

.mainnav a:hover{
    color: #abe;
    background-color: #F4A261;
}

/* Class selectors */
.page{
    width: 960px;
    margin: 0 auto;
}

.logo {
    width: 100px;
    height: auto;
}